html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100px;
}

ul, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.clearfix {
  zoom: 1;
}

#app {
  width: 9rem;
  height: 5rem;
  border: 10px solid #666;
  margin: 0 auto;
  padding: .1rem;
  font-size: .14rem;
  position: relative;
}
#app .left,
#app .right {
  width: 4.5rem;
  height: 100%;
  float: left;
  box-sizing: border-box;
}
#app .left {
  position: relative;
}
#app .left .box {
  height: 100%;
}
#app .left .box .tab ul li {
  width: .8rem;
  height: .2rem;
  padding: .05rem;
  margin-right: .1rem;
  text-align: right;
  font-weight: 500;
  border: 1px solid #ccc;
  border-radius: .07rem .07rem 0 0;
  background: url("../images/ico.gif") no-repeat;
  background-position: 0 2px;
  background-color: #EFEFEF;
  background-origin: content-box;
  float: left;
  cursor: pointer;
}
#app .left .box .tab ul li:nth-child(2) {
  background-position: 0 -36px;
}
#app .left .box .tab ul li:nth-child(3) {
  background-position: 0 -76px;
}
#app .left .box .tab ul li.current {
  background-color: #fff;
  border-bottom: none;
  color: #0c0;
  height: .21rem;
}
#app .left .box .picList {
  width: 95%;
  height: 85%;
  height: calc(100% - 40px);
  border: 1px solid #ccc;
  border-radius: 0 .08rem .08rem .08rem;
  margin-top: -1px;
  padding: .1rem;
  box-sizing: border-box;
}
#app .left .box .picList .top ul li {
  float: left;
  padding: .06rem;
  margin: 0 .03rem;
  font-size: .12rem;
  cursor: pointer;
  border-radius: .08rem;
}
#app .left .box .picList .top ul li.current {
  background-color: #f69;
  color: #fff;
}
#app .left .box .picList .top ul li:hover {
  background-color: #6f9;
  color: #fff;
}
#app .left .box .picList .content {
  width: 100%;
  height: 100%;
  margin-top: .1rem;
}
#app .left .box .picList .content ul li {
  float: left;
  padding: 0 0.18rem 0.18rem 0;
}
#app .left .box .picList .content ul li img {
  border: 1px solid #ddd;
  cursor: pointer;
}
#app .left .box .picList .content ul li img:hover {
  box-shadow: 0 0 5px #0c0;
}
#app .left .box .picList .content ul li img.imgOpa {
  opacity: 0.2;
  cursor: default;
}
#app .left .box .picList .content ul li img.imgOpa:hover {
  box-shadow: none;
}
#app .left .bigImg {
  width: 95%;
  height: 100%;
  position: relative;
  box-shadow: 0 0 .08rem #aaa;
}
#app .left .bigImg > img {
  position: absolute;
  width: 100%;
  height: 100%;
}
#app .left .bigImg ul {
  overflow: hidden;
  font-size: .12rem;
  border: 1px solid #aaa;
  border-radius: .08rem;
  box-shadow: 0 0 5px 3px #ccc;
  cursor: pointer;
  position: absolute;
  top: .1rem;
  right: 0;
  z-index: 2;
}
#app .left .bigImg ul li {
  margin: .15rem .03rem;
  height: .3rem;
  line-height: .15rem;
  vertical-align: -10px;
  background: url("../images/ico.gif") no-repeat;
  background-position: 5px -155px;
}
#app .left .bigImg ul li.up {
  background-position: 5px -118px;
}
#app .left .bigImg ul li:nth-child(2) {
  background-position: 1px -204px;
  color: #ccc;
  cursor: default;
}
#app .left .bigImg ul li:nth-child(3) {
  background-position: 1px -243px;
  color: #ccc;
  cursor: default;
}
#app .left .bigImg ul li:nth-child(4) {
  background-position: 1px -285px;
}
#app .left .bigImg .oneGlass {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#app .left .bigImg .oneGlass img {
  position: absolute;
  cursor: move;
}
#app .right {
  float: right;
  position: relative;
}
#app .right .search {
  width: 99%;
  height: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px 2px #ccc;
  border-radius: .08rem;
}
#app .right .search .group {
  width: 1rem;
  position: relative;
  height: .25rem;
  line-height: .25rem;
  margin: .1rem 0 0 .1rem;
  display: inline-block;
  font-size: .12rem;
}
#app .right .search .group:hover a,
#app .right .search .group:hover span {
  border: 1px solid #f69;
}
#app .right .search .group a,
#app .right .search .group span {
  width: 70%;
  text-align: center;
  display: inline-block;
  border: 1px solid #999;
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;
}
#app .right .search .group span {
  width: 30%;
  left: 70%;
  margin-left: 1px;
  cursor: pointer;
  color: #666;
  border-radius: 0 .04rem .04rem 0;
}
#app .right .search .group a {
  border-radius: .04rem 0 0 .04rem;
}
#app .right .search .group .select {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: #fff;
}
#app .right .search .group .select li {
  width: 100%;
  text-align: center;
  margin-top: -1px;
  cursor: pointer;
  border: 1px solid #999;
}
#app .right .search .group .select li:first-child {
  margin-top: 1px;
}
#app .right .search .group .select li.current {
  background-color: #9AD8FF;
}
#app .right .search .group .select li:hover {
  background-color: #acfacc;
}
#app .right .search .group:last-child a {
  width: 96%;
  border-radius: .04rem;
  color: #f69;
  border: 1px solid #f69;
}
#app .right .search .group:last-child a:hover {
  color: #6f9;
  border: 1px solid #6f9;
}
#app .right .galsslist {
  width: 99%;
  margin-top: .1rem;
}
#app .right .galsslist ul {
  padding-left: .08rem;
}
#app .right .galsslist ul li {
  float: left;
  padding: .06rem;
  cursor: pointer;
  border-bottom: 1px dashed #CCC;
}
#app .right .galsslist ul li:hover img, #app .right .galsslist ul li.current img {
  box-shadow: 0 0 10px #c00;
}
#app .right .galsslist ul li p, #app .right .galsslist ul li h4 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: .12rem;
  text-align: center;
}
#app .right .galsslist ul li h4 {
  color: #0c0;
}
#app .right .galsslist ul li p {
  color: #666;
}
#app .right .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10000;
}

/*# sourceMappingURL=index.css.map */
