
html,
body{
	margin: 0;
	padding: 0;
}
#c-load{
	width: 2rem;
	height: 2rem;
	margin: 1rem auto;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1rem;
}
#c-load span{
	position: absolute;
	background-color: #000;
}
#c-load .top{
	width: 100%;
	height: 0.1rem;
	top: 0;
	left: 0;
	animation: c-top 2s linear infinite;
	animation-direction: alternate;
}
#c-load .right{
	width: 0.1rem;
	height: 100%;
	top: 0;
	right: 0;
	animation: c-right 2s linear infinite;
	animation-direction: alternate;
}
#c-load .bottom{
	width: 100%;
	height: 0.1rem;
	right: 0;
	bottom: 0;
	animation: c-bottom 2s linear infinite;
	animation-direction: alternate;
}
#c-load .left{
	width: 0.1rem;
	height: 100%;
	bottom: 0;
	left: 0;
	animation: c-left 2s linear infinite;
	animation-direction: alternate;
}
@keyframes c-top{
	0%{
		width: 0;
		height: 0.1rem;
	}
	12.5%{
		width: 100%;
		height: 0.1rem;
	}
	100%{
		width: 100%;
		height: 0.1rem;
	}
}
@keyframes c-right{
	0%,
	12.5%{
		width: 0;
		height: 0;
	}
	12.6%{
		width: 0.1rem;
		height: 0;
	}
	25%{
		width: 0.1rem;
		height: 100%;
	}
	100%{
		width: 0.1rem;
		height: 100%;
	}
}
@keyframes c-bottom{
	0%,
	25%{
		width: 0;
		height: 0;
	}
	25.1%{
		width: 0;
		height: 0.1rem;
	}
	37.5%{
		width: 100%;
		height: 0.1rem;
	}
	100%{
		width: 100%;
		height: 0.1rem;
	}
}
@keyframes c-left{
	0%,
	37.5%{
		width: 0;
		height: 0;
	}
	37.6%{
		width: 0.1rem;
		height: 0;
	}
	50%{
		width: 0.1rem;
		height: 100%;
	}
	100%{
		width: 0.1rem;
		height: 100%;
	}
}
#c-red{
	width: .6rem;
	height: 1.8rem;
	background-color: #C00;
	position: absolute;
	left: 0.1rem;
	top: 0.1rem;
	border-right: 0.1rem solid #000;
	animation: c-red 2s linear infinite;
	animation-direction: alternate;
}
@keyframes c-red{
	0%,
	50%{
		width: 0;
		height: 1.8rem;
		border-right-color: transparent;
		background-color: transparent;
	}
	50.1%{
		border-right-color: #000;
		background-color: red;
	}
	62.5%{
		width: .6rem;
		height: 1.8rem;
	}
	100%{
		width: .6rem;
		height: 1.8rem;
	}
}
#c-orange{
	width: 1.1rem;
	height: .6rem;
	position: absolute;
	bottom: 0.1rem;
	right: 0.1rem;
	background-color: orange;
	border-top: 0.1rem solid #000;
	animation: c-orange 2s linear infinite;
	animation-direction: alternate;
}
@keyframes c-orange{
	0%,
	62.5%{
		width: 1.1rem;
		height: 0;
		border-top-color: transparent;
		background-color: transparent;
	}
	62.6%{
		border-top-color: #000;
		background-color: orange;
	}
	75%{
		width: 1.1rem;
		height: .6rem;
	}
	100%{
		width: 1.1rem;
		height: .6rem;
	}
}
#c-white{
	width: .2rem;
	height: 1.1rem;
	position: absolute;
	right: 0.1rem;
	top: 0.1rem;
	border-left: 0.1rem solid #000;
	animation: c-white 2s linear infinite;
	animation-direction: alternate;
}
@keyframes c-white{
	0%,
	75%{
		width: 0;
		height: 1.1rem;
		border-left-color: transparent;
		background-color: transparent;
	}
	75.1%{
		border-left-color: #000;
		background-color: #fff;
	}
	87.5%{
		width: .2rem;
		height: 1.1rem;
	}
	100%{
		width: .2rem;
		height: 1.1rem;
	}
}
#c-load p{
	font-size: 0.4rem;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 30%;
	z-index: 1;
	font-family: Bookman Old Style,David Regular,"微软雅黑" ;
	color: #69f;
}