<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="icon" href="images/lee.ico" >
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>凉宫</title>
	<link rel="stylesheet" href="css/index.css">
	<link rel="stylesheet" href="css/load.css">
</head>
<body>
	<div id="app">
		<!--********************** 左侧 ********************-->
		<div class="left" v-if="showLoad" ref="left">
			<div class="box" v-if="isSmall">
				<div class="tab">
					<ul class="clearfix">
						<li class="current">模特试镜</li>
						<li>我的相片</li>
						<li>视频相片</li>
					</ul>
				</div>
				<div class="picList">
					<div class="top">
						<ul class="clearfix">
							<li :class="{current: val.isTrue}" v-for="(val,index) in faceType" @click="addCurrent(index)">{{ val.type }}</li>
						</ul>
					</div>
					<div class="content">
						<ul class="clearfix">
							<li v-for="(val,index) in smallImg"><img :src="val.src" @click="hidden(index)" :class="{imgOpa: val.addClass}"></li>
						</ul>
					</div>
				</div>
			</div>
			<!--************ 点击图片之后打放大效果 ****************-->
			<div class="bigImg" v-else ref="bigImg">
				<img :src="bigImg" alt="">
				<ul :style="{ height: ulHeight }">
					<li @click="changeLen" :class="{up: isUp}"><br>{{ msg }}</li>
					<li><br>拍照</li>
					<li><br>瞳距</li>
					<li @click="show"><br>重选</li>
				</ul>
				<div class="oneGlass" ref="oneGlass">
					<img @mousedown="moveTo" @touchstart="touchTo" :style="moveStyle" v-if="showbigGlassImg" :src="bigGlassImg" alt="" ref="oimg">
				</div>
			</div>
			<!--************ 点击图片之后打放大效果 ****************-->
		</div>
		<!--********************** 左侧 ********************-->

		<!--********************** 右侧 ********************-->
		<div class="right" v-if="showLoad">
			<search></search>
			<!-- 自定义事件，子组件向父组件发送数据 -->
			<galsslist @togg="showBig"></galsslist>
			<div class="mask" v-if="showMask"></div>
		</div>
		<!--********************** 右侧 ********************-->


		<!--********************** loading ********************-->
		<div id="c-load" v-else>
			<span class="top"></span>
			<span class="right"></span>
			<span class="bottom"></span>
			<span class="left"></span>
			<div id="c-red"></div>
			<div id="c-orange"></div>
			<div id="c-white"></div>
			<p>loading...</p>
		</div>	
		<!--********************** loading ********************-->
	</div>
	
	<!--********************** 上方搜索模板 ********************-->
	<script type="text/template" id="group">
		<div class="search" @click="allHidden">
			<div class="group" :style="{zIndex: value.zindex}" @click.stop="hidden(index)" v-for="(value,index) in toggArr">
				<a href="javascript:;">{{ value.msg }}</a>
				<span>▼</span>
				<ul class="select" v-if="value.isShow">
					<li :class="{current: val.isTrue}" v-for="(val,ind) in value.ogroup" @click="addCurrent(index,ind)">{{ val.text }}</li>
				</ul>
			</div>
			<div class="group">
				<a @click="search" href="javascript:;">点击搜索</a>
			</div>
		</div>
	</script>
	<!--********************** 上方搜索模板 ********************-->

	<!--********************** 下方眼镜列表模板 ********************-->
	<script type="text/template" id="galsslist">
		<div class="galsslist">
			<ul class="clearfix">
				<li v-for="(val,index) in glass" @click="showGlass(index)" v-if="val.show">
					<img :src="val.src" alt="">
					<h4>{{ val.title }}</h4>
					<p>{{ val.text }}</p>
				</li>
			</ul>
		</div>
	</script>
	<!--********************** 下方眼镜列表模板 ********************-->

	<script src="js/vue.js"></script>
	<script src="js/search.js"></script>
	<script src="js/galssList.js"></script>
	<script src="js/index.js"></script>
</body>
</html>